#############################
# Google Sheets
#############################

GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT=config/google-service-account.json

#############################
# Scheduler
#############################

TIMEZONE=Asia/Kolkata

#############################
# Logging
#############################

LOG_LEVEL=INFO

#############################
# Notification
#############################

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

#############################
# Email (Optional)
#############################

SMTP_SERVER=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=

#############################
# General
#############################

APP_ENV=production